.content {
  padding-top: 2rem;
}

@media (max-width: 575.98px) {
  .content {
    padding-top: 8rem;
  }

}

@media (min-width: 580px) and (max-width: 980px) {
  .content {
    padding-top: 4rem;
  }
}

.content-busqueda {
  padding-top: 3rem;
}




.lista {
  text-align: left;
  margin:0;
  padding-left: 0;
  list-style-type: none;

  li {
    font-size: 0.8rem;
  }

  li:before { content: "- ";}
}

hr {
  border-top: 1px solid $dark;
}


.categoria-mini {
  margin: 1.5rem 0;

  a {
    text-decoration: none;
    color: $dark;
  }

  .img {
    width: 7rem;
    height: 7rem;
    margin-bottom: 0.7rem;
    display:flex;
    justify-content: center;
    align-items: center;

    img{
      width: 6rem;

      &:hover {
        width: 6.5rem;
      }
    }
  }
}


.ensenada-banner {
  background-color: $dark;
  padding: 50px 0px;

  img {
     height: 150px;
     width: auto;
  }
}


.SubTitulos {
  background-color: $dark;
}

.letra-chica{
  font-size: 0.8rem;
}


h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  color: $title-color;
}

/*.letra-doomsday{
  font-family:'Universal Doomsday';
}*/



h1.informacion,
h2.informacion,
h3.informacion,
h4.informacion,
h5.informacion,
h6.informacion {
  color: $informacion-color;
  font-family: 'Quicksand',Serif;
}

h1.SubMenu,
h2.SubMenu,
h3.SubMenu,
h4.SubMenu,
h5.SubMenu,
h6.SubMenu {
  color: $subMenu;
}

h1.Campos,
h2.Campos,
h3.Campos,
h4.Campos,
h5.Campos,
h6.Campos {
  color: $secondary;
}

 h1.light-titulo,
 h2.light-titulo,
 h3.light-titulo,
 h4.light-titulo,
 h5.light-titulo,
 h6.light-titulo {
   color: $light;
 }



.info-center {
  margin: 2rem 0;
  text-align: center;
  &.section {
    margin: 4rem 0;
  }
}

.input-search {
  width: 80%;

  input {
    text-align: center;
  }
}

.input-filtros{
  width: 100%;
  input {
    text-align: center;
  }
}

.btn-filtros{
  width: 100%;
  padding:0.5rem;
}

.content{
  .nav{
    background-color: $light;
    a{
     color:$dark;
      &:hover {
        color:$primary;
      }
    }
  }
}

.map {
    width: 35rem;
    height: 20rem;
}

.tramitesMenu{
  .container{
       h1{
         color:$subMenu;
         font-size: 4rem;
       }
       nav{
         background-color: $dark;
         a{
           color: $subMenu;
         }
       }
  }

}

.encabezado{
    padding:0 0;
    height: 50px;
    display: flex;
    background: yellow;
   // border:1px solid $red;

    .izq{
      padding-left:0;
      width: 96%;
      height: 100%;
      background: $dark;
      box-sizing: border-box;
        p{
          color:$subMenu;
        }
    }

    .der{
      padding-right: 0;
      margin-right: 0;
      width: 35%; /*tamaño del mas pequeño con respecto al mas grande */
      height: 100%;
      background: $primary;
      box-sizing: border-box;
      border-left: 21px solid $dark;
      border-bottom: 50px solid transparent;

    }
}

.contentTramite{
  border:1px solid $light;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;

   div{
     input{
       border:solid 1px $light;
       padding-top: 0.3rem;
       padding-bottom:0.3rem;
       width: 100%;
     }

   }
}

.container{
  .form-row{
    .custom-select{
       border:1px solid $light;
       border-radius:0;
       -moz-appearance: none;
       -webkit-appearance: none;
    }
  }
}

.contenedorDetalle{
  border:1px solid $light;
  padding-left: 1rem;
}

.busqueda-avanzada{
  .comboLabel {
    padding-left: 21%;
    margin-bottom: 1rem;
  }

  select{
    width: 23rem;
    height: 2rem;
  }

}

.select-tramites{
  height: 2.5rem;
  width:16.5rem;
  background:$contenedor-color;
}




.form-tramites{
    background: $light;

    input {
      height: 2.5rem;
      width: 16rem;
      border-radius: 0;
      border: none;
      background-color:  $light; //li
      color: $placeholder;
      font-style: italic;
      padding-left: 0.5rem;
    }

    input::placeholder {
      color: $placeholder;
    }

    button {
      border-radius: 0;
      background-color: $light;
      height: 2.5rem;
      width: 3rem;
    }
}

.form-tramites-continuar{
  background: $light;
  height: 1.7rem;
  margin-top: 1.5rem;
  input {
    height: 2.5rem;
    width: 16rem;
    border-radius: 0;
    border: none;
    background-color:  $light; //li
    color: $placeholder;
    font-style: italic;
    padding-left: 0.5rem;
  }

  input::placeholder {
    color: $placeholder;
  }

  button {
    border-radius: 0;
    background-color: $light;
    height: 2.5rem;
    width: 3rem;
  }
}

.tramites {
  img {
    height: 4rem;
    width: 2.5rem;
    padding: 0;
  }
  .ojo {
    height: 1rem;
    width: 1rem;
    padding: 0;
  }

  .img-doc{
    height: 1.2rem;
    width: 1.2rem;
    padding: 0;
  }

  .detalle {
    height: 2rem;
    width: auto;
    border: none;
    background: transparent;
    &:hover {
      color: $primary;
    }
    &:focus{
      outline: none;
    }
  }

  .flecha-abajo {
    height: 0.6rem;
    width: 0.6rem;
    padding: 0;
  }

  .docum-mini {
    height: 2.5rem;
    width: 2rem;
    margin-left: 1rem;
    margin-right: 0.4rem;
  }

  .margen {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }

  .margen-top{
    margin-top: 2rem;
  }

  input[type="checkbox"]{
    margin-top: 2rem;
    width: 1rem;
    height:1rem;
    border-radius: 0.1rem;
  }

  .editar-form-fecha{
    border:1px solid $light;
    height: 2rem;
  }

  form{
    .largoBoton{
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  .rotarImagen{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

}

.detalle-status{
  .fuente-fecha{
    color:$light;
    font-size: 0.9rem;
  }
}




.paginacion{
  background:$contenedor-color;
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  .pagBoton{
    border:none;
    width:2rem;
    height:30px;
    background:Transparent;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }


  .img-pag{
    width: 0.7rem;
    height: 0.7rem;
  }


}

.nav-serv-pub{
  margin: 0;
  background: $dark;
  width: 15%;
  float: left;
  height:100%;
  position: fixed;
  border-right: 0.2rem solid $dark;
  border-left: 0.2rem solid $dark;
    li{
      font-family: 'Quicksand','Serif';
      margin: 0;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      align-items: center;
      height: 3.5rem;
      border-bottom: 0.1rem solid $body-bg;
      list-style: none;
      &:hover{
        background: $body-bg;
      }
      a {
        text-decoration: none;
        text-align: center;
        color: white;
        &:hover{
          color: $dark;
        }
      }
    }

  h5{
    padding-top: 1rem;
    height: 3.5rem;

  }
}
//color para cambio de letra sen serv-pub
.letra-dark{
  color:$dark;
}



@media (max-width: 800px) {
  .espaciado-arriba{
    margin-top: 12rem;
    display: contents;
    border: 1px solid red;
  }

  .nav-serv-pub{
    position: relative;
    margin: 0;
    width: 100%;
    height:17.5%;

    li{
      margin: 0;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      align-items: center;
      height: 3.5rem;
      border-bottom: 0.1rem solid $body-bg;
      list-style: none;
      &:hover{
        background: $body-bg;
      }
      a {
        text-decoration: none;
        text-align: center;
        color: $dark;
      }
    }

    h5{
      background: $light;
      padding-top: 1rem;
      height: 3.5rem;
    }
  }

}

.ancho{
  margin-left: 15%;
  width: 85%;
  padding-left:2rem;
  padding-right: 2rem;
}

.contenedor-menu{
  background-color: $light;
}

.notes {
  background-color: $subMenu;
  padding: 1rem;

  .notesContent {
    border-radius: 0;
    border:1px solid $light;
    overflow-y: scroll;
    height: 13rem;
    width: auto;
    padding-left:0.5rem;
    padding-top:0.4rem;
  }

  .fondo{
    background-color: $secondary;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    padding-left: 0.3rem;
    padding-top: 0.3rem;
    color:$subMenu;
    height: 2.5rem;
  //  border:1px solid $light;
  }

}

.rounded-bottom {
  border-bottom-left-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}



