.content {
  padding-top: 2rem;
}



.lista {
  text-align: left;
  margin:0;
  padding-left: 0;
  list-style-type: none;

  li {
    font-size: 0.8rem;
  }

  li:before { content: "- ";}
}

hr {
  border-top: 1px solid $dark;
}


.categoria-mini {
  margin: 1.5rem 0;

  a {
    text-decoration: none;
    color: $dark;
  }

  .img {
    width: 7rem;
    height: 7rem;
    margin-bottom: 0.7rem;
    display:flex;
    justify-content: center;
    align-items: center;

    img{
      width: 6rem;

      &:hover {
        width: 6.5rem;
      }
    }
  }
}


.ensenada-banner {
  background-color: $dark;
  padding: 50px 0px;

  img {
     height: 150px;
     width: auto;
  }
}



.SubTitulos {
  background-color: $dark;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  color: $title-color;
}

h1.informacion,
h2.informacion,
h3.informacion,
h4.informacion,
h5.informacion,
h6.informacion {
  color: $informacion-color;
}

h1.SubMenu,
h2.SubMenu,
h3.SubMenu,
h4.SubMenu,
h5.SubMenu,
h6.SubMenu {
  color: $subMenu;
}

h1.Campos,
h2.Campos,
h3.Campos,
h4.Campos,
h5.Campos,
h6.Campos {
  color: $secondary;
}



.info-center {
  margin: 2rem 0;
  text-align: center;
  &.section {
    margin: 4rem 0;
  }
}

.input-search {
  width: 80%;
  input {
    text-align: center;
  }
}

.input-filtros{
  width: 100%;
  input {
    text-align: center;
  }
}

.btn-filtros{
  width: 100%;
  padding:0.5rem;
}

.content{
  .nav{
    background-color: $light;
    a{
     color:$dark;
      &:hover {
        color:$primary;
      }
    }
  }
}

.map {
    width: 35rem;
    height: 20rem;
}

.tramitesMenu{
  .container{
       h1{
         color:$subMenu;
         font-size: 4rem;
       }
       nav{
         background-color: $dark;
         a{
           color: $subMenu;
         }
       }
  }

}

.encabezado{
    padding:0 0;
    height: 50px;
    display: flex;
    background: yellow;
   // border:1px solid $red;

    .izq{
      padding-left:0;
      width: 96%;
      height: 100%;
      background: $dark;
      box-sizing: border-box;
        p{
          color:$subMenu;
        }
    }

    .der{
      padding-right: 0;
      margin-right: 0;
      width: 35%; /*tamaño del mas pequeño con respecto al mas grande */
      height: 100%;
      background: $primary;
      box-sizing: border-box;
      border-left: 21px solid $dark;
      border-bottom: 50px solid transparent;

    }
}

.contentTramite{
  border:1px solid $light;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;

   div{
     input{
       border:solid 1px $light;
       padding-top: 0.3rem;
       padding-bottom:0.3rem;
       width: 100%;
     }

   }
}

.container{
  .form-row{
    .custom-select{
       border:1px solid $light;
       border-radius:0;
       -moz-appearance: none;
       -webkit-appearance: none;
    }
  }
}

.select-tramites{
  height: 2.5rem;
  width:15rem;
  background:$contenedor-color;
}


.contenedorDetalle{
  border:1px solid $light;
  padding-left: 1rem;
}

.form-tramites{
   div{
     background: $light;
         input{
           height: 2.5rem;
           width:15rem;
           border-radius:0;
           border:none;
           background-color:$light;
           color:$dark;
           font-style:italic;
           padding-left: 0.5rem;
         }
         input::placeholder{
           color:$dark;
         }
         button {
           border-radius:0;
           background-color:$light;
           height: 2.5rem;
           width:3rem;
         }
   }
}

.tramites{
  img{
    height: 4rem;
    width:2.5rem;
    padding: 0;
  }
  .ojo{
    height: 1rem;
    width:1rem;
    padding: 0;
  }

  .detalle{
    height: 2rem;
    width:auto;
    border:none;
    background: transparent;
    &:hover {
      color:$primary;
    }
  }

  .flecha-abajo{
    height: 0.6rem;
    width:0.6rem;
    padding: 0;
  }

  .docum-mini{
    height: 2.5rem;
    width:2rem;
    margin-left: 1rem;
    margin-right: 0.4rem;
  }

  .margen{
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}


.detalle-status{
  .fuente-fecha{
    color:$light;
    font-size: 0.9rem;
  }
}

.container-fluid{
  .margen{
    margin-top: 2rem;
  }
}


.paginacion{
  background:$contenedor-color;

  .pagBoton{
    border:none;
    width:2rem;
    height:30px;
    background:Transparent;
  }

  .img-pag{
    width: 0.7rem;
    height: 0.7rem;
  }


}

.nav-serv-pub{
  background: $light;
  width: 15%;
  float: left;
  height:100%;
  position: fixed;
  border-right: 0.1rem solid $light;
    li{
      margin: 0;
      padding-top: 0.9rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      align-items: center;
      height: 3.5rem;

      border-bottom: 0.1rem solid $body-bg;
      list-style: none;
      &:hover{
        background: $body-bg;
      }
      a {
        text-decoration: none;
        text-align: center;
        color: $dark;
      }
    }
}

.ancho{
  margin-left: 15%;
  width: 85%;
  padding-left:2rem;
  padding-right: 2rem;
}

.contenedor-menu{
  background-color: $light;
}

.notes {
  background-color: $subMenu;
  padding: 1rem;

  .notesContent {
    border:0.1rem solid $light;
    overflow-y: scroll;
    height: 13rem;
    width: 30rem;
  }

}

.modal {
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  display:flex;
  background-color: rgba(0,0,0, 0.5);
  justify-content: center;
  align-items: center;

  div {
  background-color: white;
    .modalFooter {
      display:flex;
      justify-content: flex-end;
      padding:0px 20px 20px 20px;
    }

  }

}





