footer {
  background-color: $bg-light;
  height: auto;
  box-sizing: border-box;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  img {
    height: 3.5rem;
    width: auto;
  }

}


.img-sare {
  width: 9rem;
  height: 5rem;
}

.laNube{
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: $dark;
     .logo{
        width: auto;
        height: 2rem;
     }
}

.lineaColores{
  height: 0.4rem;
}
