.navbar {
  padding-bottom: 0;
  padding-top: 0;
}
.navbar a {
  margin-left: 30px;
  font-size: 1rem;
}

.navbar.navbar-light {
  background-color: $body-bg;
}


.navbar .form-inline {
  background-color: $bg-light;


  input {
    background-color: transparent;
    border: none;
    color: white;

    &::placeholder {
      color: white;
    }

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  button {
    border: none;
    color: white;
    background-color: transparent;

    img {
      height: 15px;
    }
  }


}




.navbar-fixed-top {
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;

  img.colors {
    margin-top:-1.4rem;
    height: 0.5rem;
    width: 100%;
  }

  .navbar{
       div{
         a{
           &:hover{
             color: $primary;

           }
         }
       }

  }
}



.tramitensNav {
  padding: 0;

  .vertical {
    border: 0px solid white;
    border-left-width: 1px;
    margin: 1.5rem;
  }

  img {
    margin: 1.5rem 0;

    &:first-child {
      margin-left: 2rem;
      height: 5rem;
    }

    &.tramitens {
      margin-left: 0;
      margin-bottom: 0.5rem;
      height: 3rem;
    }
  }

  .user {
    .ico {
      width: 3rem;
      height: 3rem;
      background-color: $primary;
      border-radius: 50%;
      margin:auto;
      position: relative;
      font-size: 2rem;


      img {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: -2.5rem;
        bottom: -1.8rem;
      }
    }


  }

  .lineas {
    max-height: 1rem;
    width: 100%;
    img {
      width: 100%;
      height: 0.5rem;
      margin:0;
      margin-top: 6px;
    }
  }

}
