.navbar {
  padding-bottom: 0;
  padding-top: 0;
}
.navbar a {
  margin-left: 30px;
  font-size: medium;
}

.navbar > .form-inline {
  background-color: $body-color-transparent;
}

.navbar .form-inline input {
  background-color: transparent;
  border: none;
  color: white;
}

.navbar .form-inline input::placeholder {
  color: rgba(white, 0.5);
  font-size: 14px;
}
.navbar .form-inline input:focus {
  border: none;
  box-shadow: none;
}
.navbar .form-inline button {
  border: none;
  color: white;
  background-color: transparent;
}
.navbar .form-inline img {
  height: 15px;
}

.navbar-fixed-top {
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
}

