.navbar {
  padding-bottom: 0;
  padding-top: 0;
}
.navbar a {
  margin-left: 30px;
  font-size: 1rem;
}

.navbar.navbar-light {
  background-color: $body-bg;
}


.navbar .form-inline {
  background-color: $bg-light;
  width: auto;

  input {
    background-color: transparent;
    border: none;
    color: white;

    &::placeholder {
      color: white;
    }

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  button {
    border: none;
    color: white;
    background-color: transparent;
    border-radius: 0;

    img {
      font-family: Quicksand,Serif;
      height: 17px;
    }
  }


}




.navbar-fixed-top {
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;

  img.colors {
  //  margin-top:-1.4rem;
    height: 0.4rem;
    width: 100%;
    position: fixed;
  }

  .navbar{
       div{
         a{
           &:hover{
             color: $primary;

           }
         }
       }

  }
}



.tramitensNav {
  padding: 0;
  //margin-bottom: 1rem;

  .vertical {
    border: 0px solid white;
    border-left-width: 1px;
    margin: 1.5rem;
  }

  .verticalSP{
    border: 0px solid $dark;
    border-left-width: 1px;
    margin: 1.5rem;
  }



  img {
    margin: 1.5rem 0;

    &:first-child {
      margin-left: 2rem;
      height: 5rem;
    }

    &.tramitens {
      margin-left: 0;
      margin-bottom: 0.5rem;
      height: 3rem;
    }
  }

  .user {
    .ico {
      width: 3rem;
      height: 3rem;
      background-color: $primary;
      border-radius: 50%;
      margin:auto;
      position: relative;
      font-size: 2rem;

      &:hover {
        //border: 1px solid white;
      }


      .btn-group {
        position: absolute;
        //width: 4rem;
        left: -6.5rem;
        bottom: -0.5rem;
        //background-color: white;

        a {
          margin-left: 0px;
        }
      }

      img {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: -2.5rem;
        bottom: -1.8rem;
      }
    }




  }

  .lineas {
    height: 1px;
    width: 100%;
    img {
      width: 100%;
      height: 0.5rem;
      margin:0;
      margin-top: -1.6rem;
    }
  }

  .estilo-header{
    margin-left:-1.9rem;
  }

  .posicion{
    margin-right:-1.8rem;
  }


}


.list-content{
  display:flex;
  padding-left: 0px;
}

.list-ul-li{
  margin: 0;
  padding: 0;

}
.list-li{
  display: inline-block;
  text-align: left;
  color: white!important;
  cursor: pointer;
  font-size: 0.9rem;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-right: 20px;
  padding-left: 20px;
}

.list-li:hover{
  text-decoration: none;
  color:white!important;
 /* background: #5a6270;*/
  background: #535a67;
}

.list-li-ciudadano:hover{
  background: #585e6c;
}

.list-li-menu{
  display: inline-block;
  text-align: left;
 /* color: $dark;*/
  color: white!important;
  cursor: pointer;
  font-size: 0.9REM;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.list-li-menu {
  .estilo-fuente {
    color:$subMenu;
    text-decoration: none;
    &:hover{
      color: $light;
    }
  }
}

.list-li{
  .estilo-fuente {
    color:$subMenu;
    text-decoration: none;
  }
}




  .bg-menu-cidano{
    background: $bg-menu-cidano;
  }

  .bg-menu-sp{
    background: $dark;
  }

  .bg-header-sp{
    background: $bg-menu-sp;
  }

  .menu-ico-ballena{
    height: 15px;
    width: 15px;
  }

  .buscador-menu{
    background: $bg-menu-sp;
    border-radius:0%;
    width: 14rem!important;
    border-top-left-radius: 4px!important;
    border-bottom-left-radius: 4px!important;
    color:$dark;
  }
  .buscador-menu::placeholder {
    color: $light;
    font-style: italic;
  }

  .btn-busqueda-menu{
    border-color: $light;
    border-radius:0%;
    background: $light;
    color:white;
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
  }

