$primary: #00b8b0;
$secondary: #ca1474;
$success: #83c442;
$danger: #ea4330;
$warning: #f8971d;
$info: #00b8b0;
$light: #a9abac;
$dark: #333840;
$link: #83c442;
$subMenu:#ffffff;


$theme-colors: (
        "primary": $primary,
        "secondary":$secondary,
        "success": $success,
        "danger": $danger,
        "warning": $warning,
        "light": rgba($light, 0.5),
        "dark": $dark,
        "link": $link
);


$body-color: $dark;
$body-bg: #f7f7f7;
$contenedor-color:#ffffff;
$bg-light: rgba($light, 0.5);
$title-color: $primary;
$informacion-color:$success;

@import 'bootstrap/bootstrap';
@import "bootstrap/bootstrap-reboot";

@import 'custom/header';
@import 'custom/footer';
@import 'custom/content';


body{
  margin:0;
  padding: 0;
  height: auto;
}

.borrar{
  border: 1px solid red;
}

.borrarr{
  border: 1px solid black;
}


.borde-color{
  border: 1px solid $primary;
}


.col.title {
  text-align: center;
  padding:1rem;
}
.col.title p {
  font-size: 0.8rem;
}


.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border: 1px solid $dark;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-right-width: 0px;
  text-align: center;
}
.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-left-width: 0px;
  border-color: $dark;
}




