$primary: #00b8b0;
$secondary: #ca1474;
$success: #83c442;
$danger: #ea4330;
$warning: #f8971d;
$info: #00b8b0;
$light: #a9abac;
$dark: #333840;
$link: #83c442;
$subMenu:#ffffff;
$placeholder:#ffffff;
$bg-extra-light: rgba(#F2F2F2,1);


$theme-colors: (
        "primary": $primary,
        "secondary":$secondary,
        "success": $success,
        "danger": $danger,
        "warning": $warning,
        "light": rgba($light, 0.5),
        "dark": $dark,
        "link": $link,
        "extra-ligth": $bg-extra-light
);



$body-color: $dark;
$body-bg: #f7f7f7;
$contenedor-color:#ffffff;
$bg-light: rgba($light, 0.5);
$title-color: $primary;
$informacion-color:$success;


@media print {
  html,
  body,
  .content,
  .container {
    background-color: white;
  }

  hr {
    border: none;
  }

}

@import "bootstrap/bootstrap-reboot";
@import 'bootstrap/bootstrap';

@import './custom/header';
@import './custom/footer';
@import './custom/content';

@import url('https://fonts.googleapis.com/css?family=Quicksand:500');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Questrial');

@font-face {
  font-family: 'Poppins';
  src: ('https://fonts.googleapis.com/css?family=Poppins');
}


.letra-gilroy{//Popin
  font-family: 'Poppins', sans-serif, regular;
}

.letra-espaciada{
  letter-spacing: 1px;
}


.letra-doomsday{//quick
  font-family: 'Quicksand',sans-serif;
}


.borrar{
  border: 1px solid red;
}

hr {
  border-color: $light;
}

.borrarr{
  border: 1px solid black;
}


.borde-color{
  border: 1px solid $primary;
}


.col.title {
  text-align: center;
  padding:1rem;
}
.col.title p {
  font-size: 0.8rem;
}

.modal {
  background-color: rgba(0,0,0,0.6);

  &.show {
    display: block;
  }

  .loading {
    background-color: transparent;
    border:none;
    margin:auto;
  }

  img.logo {
    height: 5rem;
    width: 5rem;

    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
    }
}


.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border: 1px solid $dark;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-right-width: 0px;
  text-align: center;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-left-width: 0px;
  border-color: $dark;
}

nav.navbar.sticky-top.navbar-light.tramiteMenu {
  top:2.4rem;

  .navbar-brand {
    cursor: pointer;
  }
}

.card-header.bg-dark {
  border: 1px solid $dark;

  img.triangulos {
    height: 2rem;
    transform: rotate(180deg);
  }

  .folio {
    color: $dark;
    font-size: 1.5rem;
    max-height: 3rem;


    &::before {
      content:"";/* required */
      position: absolute; /* takes the 'cap' out off flow */
      border-width: 1.5rem 1rem;
      margin-left: -2.5rem;
      border-style:solid;
      border-color:$primary; /* same as bg of our rectangle */
      /* now we make some of theborders disappear*/
      border-top-color:transparent;
      border-left-color:transparent;
    }

    &.bg-warning::before {
      content:"";/* required */
      position: absolute; /* takes the 'cap' out off flow */
      border-width: 1.5rem 1rem;
      margin-left: -2.5rem;
      border-style:solid;
      border-color:$warning; /* same as bg of our rectangle */
      /* now we make some of theborders disappear*/
      border-top-color:transparent;
      border-left-color:transparent;
    }

    &.bg-secondary::before {
      content:"";/* required */
      position: absolute; /* takes the 'cap' out off flow */
      border-width: 1.5rem 1rem;
      margin-left: -2.5rem;
      border-style:solid;
      border-color:$secondary; /* same as bg of our rectangle */
      /* now we make some of theborders disappear*/
      border-top-color:transparent;
      border-left-color:transparent;
    }

    &.bg-success::before {
      content:"";/* required */
      position: absolute; /* takes the 'cap' out off flow */
      border-width: 1.5rem 1rem;
      margin-left: -2.5rem;
      border-style:solid;
      border-color:$success; /* same as bg of our rectangle */
      /* now we make some of theborders disappear*/
      border-top-color:transparent;
      border-left-color:transparent;
    }
  }



}


